spring.application.name=api

spring.datasource.url=jdbc:postgresql://localhost:5432/ecommerce_db
spring.datasource.username=postgres
spring.datasource.password=password

jwt.secret=

//claves de api para stripe
stripe.api.secretKey=
stripe.api.publishableKey=
stripe.webhook.secret=

spring.jpa.hibernate.ddl-auto=validate

spring.jpa.show-sql=false
spring.jpa.properties.hibernate.format_sql=true

spring.flyway.enabled=true